
<include file="Public/header" />

<!--learn more-->

<div class="learn-more section-spacing section-spacing2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 sdc-user-left">
        <div>
            <include file="member-menu" />
        </div>

      </div>
      <div class="col-md-6 sdc-user-right">

        <div class="user-right-bot">
          <p>交割卷列表</p>
          <table>
            <tr align="center" class="volume-table-header">
              <td>时间</td>
              <td>交割卷</td>
              <td>含SDC</td>
            </tr>
            <foreach name='list' item='var' >
            <tr class="volume-table-list" align="center">
              <td>{:date('Y/m/d',$var['add_time'])}</td>
              <td>{$var['volume']}</td>
              <td>{$var['value']}</td>
            </tr>
            </foreach>
            <tr>
              <td align="center" colspan="6">{$page}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--learn more end--> 

<!--Copyright terms-->

<include file="Public/footer"/>

<!--Copyright terms end--> 

<script src="__JS__/jquery-2.2.1.min.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/jquery.magnific-popup.min.js"></script> 
<script src="__JS__/owl.carousel.min.js"></script> 
<script src="__JS__/jquery.waypoints.min.js"></script> 
<script src="__JS__/jquery.animateNumber.min.js"></script> 
<script src="__JS__/jquery.ajaxchimp.min.js"></script> 
<script src="__JS__/tweetie.min.js"></script> 
<!--[if IE 9]>
<script src="js/placeholders.min.js"></script>
<![endif]--> 
<script src="__JS__/main.js"></script> 
<!-- 
<script async src="http://platform.twitter.com/widgets.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 

<script src="__JS__/gmap.js"></script> -->

<script src="__JS__/retina.min.js"></script>
</body>

<script type="text/javascript">
  function checkInt(o){ 
    var theV,theP;
    var num = document.getElementById('num');
    var onePrice = document.getElementById('onePrice');
    var payable = document.getElementById('payable');
    theV = isNaN(parseInt(o.value))?0:parseInt(o.value); 
    if(theV != o.value){
      o.value = theV;
    } 
    theP = num.value*onePrice.innerHTML;
    payable.value = theP.toFixed(2);
  } 


  $(function(){
    $('#create').click(function(){
        var purl = "{:U('member/createVolume')}";
        $.ajax({
           type: "POST",
           url: purl,
           data: "uid={$uid}",
           success: function(result){
              if(result.code == 1){
                $("#m_balance").text(result.data.balance);
                $("#m_volume").text(result.data.volume);
              }
              alert(result.msg);
           }
        });
    });
    
  });
</script>
</html>

